click~=8.1.8
python-docx~=0.8.11
mistralai~=1.7.0
Flask~=2.2.2
flask-cors~=6.0.1
waitress~=3.0.2
python-dotenv
mcp
reportlab
opencv-python-headless
pillow
imageio
imageio-ffmpeg
langchain
playwright
nest_asyncio
lxml
numpy
openpyxl
pandas
aiohttp
